<html>
  <body>
  <!-- link to list of posts -->
<!--     <a href="<%= posts_path %>">Back to Posts</a> -->
    <%= link_to "back to posts", posts_path %>
    <div class="post">
      <h2 class="title">
        <%= @post.title %> / 
       
      </h2>

      <small class="meta">
        <span class="author">by <%= @post.author %> -</span>
        <em class="created_at"><%= @post.created_at %></em>
      </small>

      <p class="body"><%= @post.body %></p>

       <%= link_to "edit", edit_post_path(@post.id) %>
       <hr />
       <hr />
  <!-- COMMENTS -->
      <div class="comments">
        <h3>Comments:</h3>
        <hr />
        <% @post.comments.each_with_index do |comment, index| %>
          <div class="comment">
            <small class="comment_meta">
              <span class="comment_author">#<%= index+1 %> by <%= comment.author %> -</span>
              <em class="comment_created_at"><%= comment.created_at %></em>
            </small>
            <p class="comment_body"><%= comment.body %></p>
          </div>
       
         <!--  <form method="post" action="<%= post_comment_path(@post.id,comment.id)%>" > 
            <input type="hidden" name="_method" value="delete">
            <input type="submit" value="Delete Comment" />
          </form> -->
<!-- DELETE COMMENTS -->
          <%= form_tag post_comment_path(@post.id,comment.id), method:"delete" do %>
            <%= submit_tag "delete"%>
          <%end%>
          <hr />
       

        <% end %>
        
      
    <!-- NEW COMMENT -->
    <div class="comments">
        <!-- display errors -->
        <div class="errors">
          <% @comment.errors.each do |attribute, error| %>
            <p class="error" style="color: orange">
              <%= attribute %>: <%= error %>
            </p>
          <% end%>
        </div>
    <!-- populate comment <form> with values -->
        <!-- <form method="post" action="<%= post_comments_path(@post.id) %>">

          <label for="body">Comment</label>
          <textarea id="body" name="body"><%= @comment.body %></textarea>
          <br /> <br />

          <label for="author">Name</label>
          <input id="author" name="author" type="text" value="<%= @comment.author %>"/>
          <br /> <br />

          <input type="submit" value="Add Comment" /> -->
        <!-- </form> -->
        <%= form_tag post_comments_path(@post.id), method: "post" do %>
          <%= label_tag "body", "Comment "%>
          <%= text_area_tag "comment[body]", @comment.body %>
          <br /> <br />
          <%=label_tag "author", "name"%>
          <%= text_field_tag "comment[author]", @comment.author%>
           <br /> <br />
           <%= submit_tag "Add comment"%>
        <% end %>
        <hr />
    </div><!--end of new comment-->
  </div>
  <br />
    
  </body>
</html>