<!-- app/views/application/list_posts.html.erb turn into index-->

<div class="posts">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <% @posts.each do |post| %>
        <div class="post">

          <h2 class="title">
            <a href="<%= post_path(post.id) %>"><%= post.title %></a>
          </h2>

          <small class="meta">
            <span class="author">by <%= post.author %> -</span>
            <em class="created_at"><%= post.created_at %></em>
          </small>
          <!-- link to edit post -->
          <a href="/edit_post/<%= post.id%>">Edit</a>
                    <!-- ... -->
          <form method="post" action="/delete_post/<%= post.id %>" style='display: inline'>
            <input type="submit" value="Delete" />
          </form>
        </div>
        <hr />
      <% end %>
      <!-- link to new post -->
    <a href="<%= new_post_path %>">New Post</a>
</div>